/* Animation for the shark */
#shark{
    left: 100px; top: 400px; position: absolute;
    animation-name: Shark;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes Shark {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    60% {left: 600px; top: 50px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px;transform: scaleX(-1);}
    /* Animation for the diver1 */
}
#diver1{
    left: 100px; top: 400px; position: absolute;
    animation-name: diver1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes diver1 {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    60% {left: 600px; top: 50px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px;transform: scaleX(-1);}
    /* Animation for the diver2 */
}
#diver2{
    left: 200px; top: 300px; position: absolute;
    animation-name: diver2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes diver2 {
    0% {left: 200px; top: 300px;}
    20% {left: 400px; top: 300px;}
    40% {left: 600px; top: 200px;}
    60% {left: 700px; top: 50px;}
    80% {left: 600px; top: 100px;}
    100% {left: 200px; top: 300px;transform: scaleX(-1);}
}
   /* Animation for the diver3 */
#diver3{
    left: 300px; top: 200px; position: absolute;
    animation-name: diver3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes diver3 {
    0% {left: 300px; top: 200px;}
    20% {left: 500px; top: 200px;}
    40% {left: 700px; top: 100px;}
    60% {left: 800px; top: 50px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px;transform: scaleX(-1);}
    
}
    /* Animation for the faintSchool */
#faintSchool{
    left: 400px; top: 300px; position: absolute;
    animation-name: faintSchool;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes faintSchool {
    0% {left: 400px; top: 300px;}
    20% {left: 600px; top: 300px;}
    40% {left: 800px; top: 200px;}
    60% {left: 900px; top: 50px;}
    80% {left: 800px; top: 100px;}
    100% {left: 400px; top: 300px;transform: scaleX(-1);}

}
     /* Animation for the goldFishSchool */
#goldFishSchool{
    left: 100px; top: 400px; position: absolute;
    animation-name: goldFishSchool;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes goldFishSchool {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    60% {left: 600px; top: 50px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px;transform: scaleX(-1);}
    
}
    /* Animation for the turtle */
#turtle{
    left: 100px; top: 400px; position: absolute;
    animation-name: turtle;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes turtle {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}
    40% {left: 500px; top: 300px;}
    60% {left: 600px; top: 50px;}
    80% {left: 500px; top: 200px;}
    100% {left: 100px; top: 400px;transform: scaleX(-1);}
    
}
